<div class="h1">
  <p>SG HOSPITAL</p>
  <h6>Welcomes You</h6>
</div>
<!-- -------------------------------------------------------------------------------------------------------- -->
<div class="container m1">
    <p> Meet Our Doctors</p>
    <div class="row g-0">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/Doctors/d1.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>

            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/Doctors/d4.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>

            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/Doctors/d3.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="video-testimonials">
        <p>VIDEO - TESTIMONIALS</p>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/TU6BevNcVuQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
        <iframe width="450" height="315" src="https://www.youtube.com/embed/qgLkfqPYwkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
        <iframe width="450" height="315" src="https://www.youtube.com/embed/c1eWgR5V83k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
    </div>