
<div class="h1">
  <p>SG HOSPITAL</p>
</div>
<!-- -------------------------------------------------------------------------------------------------------- -->
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div>
    
    <p> OUR GALLERY </p>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="#"><img class='img-fluid w-100 main-img' src="../../assets/show/s1.jpg" alt="image"/></a>
            <div class="centered"><h3 class="img-overlay"></h3></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="#"><img class='img-fluid w-100 main-img' src="../../assets/show/slide02.jpg" alt="image"/></a>
            <div class="centered"><h3 class="img-overlay"></h3></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="#"><img class='img-fluid w-100 main-img' src="../../assets/show/slide04.jpg" alt="image"/></a>
            <div class="centered"><h3 class="img-overlay"></h3></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="#"><img class='img-fluid w-100 main-img' src="../../assets/show/slide05.jpg" alt="image"/></a>
            <div class="centered"><h3 class="img-overlay"></h3></div>
        </div>
    </div>
</div>
</div>

<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="container m1">
    <p> Meet Our Doctors</p>
    <div class="row g-0" style="flex-wrap: inherit;">
            <div class="card" style="width:400px;padding: 10px;">
                <img class="card-img-top" src="../../assets/Doctors/d1.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Samantha</h4>
                    <p class="card-text">Heart Specialist</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>

            <div class="card" style="width:400px;padding: 10px;">
                <img class="card-img-top" src="../../assets/Doctors/d4.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Dharmadurai</h4>
                    <p class="card-text">Psychiatrist</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>

            <div class="card" style="width:400px;padding: 10px;">
                <img class="card-img-top" src="../../assets/Doctors/d3.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ashok Selvakumar</h4>
                    <p class="card-text">Neurologist</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
    

<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
    <div class="video-testimonials">
        <p>VIDEO - TESTIMONIALS</p>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/TU6BevNcVuQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
        <iframe width="450" height="315" src="https://www.youtube.com/embed/qgLkfqPYwkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
        <iframe width="450" height="315" src="https://www.youtube.com/embed/c1eWgR5V83k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>&nbsp;
    </div>


    <!-- #Footer -->
  <div class="MeetUs">
    <p>MEET US</p>
    <div class="top-sec sec07 aos-init aos-animate" style="background-image: url('../assets/bg02.jpg');"
      data-aos-offset="150" data-aos="fade-zoom-in">
      <div class="container">
        <div class="top-access-box">
          <p class="top-ttl"><span class="en"></span></p>
          <div class="content-wrapper">
            <div class="iframe-wrapper"><iframe width="600" height="450" style="border: 0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125322.50873824842!2d76.967235!3d11.013968899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859af2f971cb5%3A0x2fc1c81e183ed282!2sCoimbatore%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1688209042230!5m2!1sen!2sin"
                frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0"></iframe></div>
            <address style="color: black;font-size: 20px;text-shadow: #4422ff;font-weight: bolder;background-color: gainsboro;" class="address-text">Address:7/10, Ukkadam, Ghandipuram
              ,Coimbatore</address>
            <div class="btn-wrapper"><a href="/en/access.html" style="color:#4422ff; font-weight: bolder;"
                class="common-btn fw400">Get Directions</a></div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------- -->

    <div class="footer-clean">
        <footer>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                <h3>Centres Of Excellence</h3>
                <ul>
                  <li><a href="#">SG Heart Center</a></li>
                  <li><a href="#">Neurology</a></li>
                  <li><a href="#">Transplanation</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                <h3>About</h3>
                <ul>
                  <li><a href="#">Hospital</a></li>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Legacy</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                <h3>Patient Care</h3>
                <ul>
                  <li><a href="#">24X7 Emergency Care</a></li>
                  <li><a href="#">Insurance</a></li>
                  <li><a href="#">Find A Doctor</a></li>
                </ul>
              </div>
              <div class="col-lg-3 item social"><a href="https://www.facebook.com"><i
                    class="icon ion-social-facebook"></i></a><a href="https://www.twitter.com"><i
                    class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com"><i
                    class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com"><i
                    class="icon ion-social-instagram"></i></a>
                <p class="copyright">SG HOSPITAL © 2018</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  