<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<div class="h1">
  <p>SG HOSPITAL</p>
</div>
<!-- --------------------------------------------------------------------------------------------------- -->
<div class="video-container">
  ::before
  <video autoplay muted loop>
    <source src="../../assets/Covid_About_Banner.mp4" type="video/mp4">
  </video>
  <div class="text-overlay">
    <h1>Improving the Health of the Community and the World</h1>
  </div>
</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
<section class="image-section">
  <div class="image-container">
    <img src="../../assets/h1.jpg" alt="About">
  </div>
  <div class="text-content" id="#About">
    <h2>About SG Hospital </h2>
    <p>The mission of SG Hospital is to improve the health of the community and the world by setting the standard of excellence in medical education, research and clinical care.

      Diverse and inclusive, SG Hospital:
    </p>
      <li>
      Educates medical students, scientists, health care professionals and the public</li>
      <li>Conducts biomedical research</li>
      <li>
      Provides patient-centered medicine to prevent, diagnose and treat human illness.</li>

  </div>
</section>


<!-- -------------------------------------------------------------------------------------------------------------- -->
<section class="py-5" style="background-image: url(../../assets/bg02.jpg);">
  <div class="container">
    <h1 class="fw-light">Why Choose us ?</h1>
    <p class="lead">We offer compassionate, ethical & state-of-the-art healthcare services and have been trusted by
      millions over the past 49 years.</p>
  </div>
</section><br>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>

<!--------------------------------------------------------------------------------------------------------- -->
<div class="section2" style="background-color: #00747a;color: white;">
<section class="image-section">
  <div class="image-container">
    <img src="../../assets/h2.jpg" alt="About">
  </div>
  <div class="text-content">
    <h2>Patient Care Locations </h2>
    <p>Headquartered in Coimbatore, Maryland, SG Hospital unites physicians and scientists of the SG
      University School of Medicine with the organizations, health professionals and facilities of The SG
      Hospital and Health System. SG Hospital has six academic and community hospitals, four suburban health care
      and surgery centers, over 40 patient care locations, a home care group and an international division, and it offers an
      array of health care services.
    </p>
    <button style="background-color: #004C50;border-color: #004C50;">View Patient Care locations</button>
  </div>
</section>
</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>
<div class="blank-spacer-5">&nbsp;</div>


<!-- ----------------------------------------------------------------------------------------------------- -->
<section class="serviceSec pt-4">
  <div class="container">
    <h2 class="text-center">We Specialize In</h2>
    <div class="row mt-5 aos-init aos-animate" data-aos="fade-right">
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="kg-heart-center.html" class="serviceBx">
          <img src="../assets/cardiology-card.svg" alt="cardiology-card">
          <p>KG Heart Centre</p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="neurology.html" class="serviceBx">
          <img src="../assets/Neurology.svg" alt="Neurology">
          <p>Brain &amp; Spine</p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="emergency.html" class="serviceBx">
          <img src="../assets/emergency-help.svg" alt="emergency-help">
          <p> Accident and Emergency </p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="nephrology.html" class="serviceBx">
          <img src="../assets/kidney-liver-transplant-card.svg" alt="kidney-liver-transplant-card">
          <p>Kidney Center</p>
        </a>
      </div>

      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="general-surgery.html" class="serviceBx">
          <img src="../assets/laparoscopic-surgery.svg" alt="laparoscopic-surgery">
          <p>Laparoscopic Surgery</p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="gynecology.html" class="serviceBx">
          <img src="../assets/womens-center.svg" alt="womens-center">
          <p>Obstetrics and gynaecology</p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="diabetes.html" class="serviceBx">
          <img src="../assets/Diabetes.svg" alt="Diabetes">
          <p>diabetology </p>
        </a>
      </div>
      <div class="col col-sm-3 col-12 serviceBxmr">
        <a href="interventional-radiology.html" class="serviceBx">
          <img src="../assets/interventional-radiology.svg" alt="interventional-radiology">
          <p>Interventional Radiology</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ----------------------------------------------------------------------------------------------------- -->
<div class="section2">
  <section class="image-section">
    <div class="image-container">
      <img src="../../assets/h3.jpg" alt="About">
    </div>
    <div class="text-content">
      <h2>Women in Leadership</h2>
      <p>Today at SG Hospital, we see the profound influence of women leaders in every aspect of the fields of
        medicine and science – from the operating room, to the research laboratory, to the executive suite.
      </p>
      <button style="background-color: #0078D3;border-color: #0078D3;font-family: sans-serif;">About Women Leaders  </button>
    </div>
  </section>
  </div>
<!-- -------------------------------------------------------------------------------------------------------->
<!-- #Footer -->
<div class="MeetUs">
  <p>MEET US</p>
  <div class="top-sec sec07 aos-init aos-animate" style="background-image: url('../assets/bg02.jpg');"
    data-aos-offset="150" data-aos="fade-zoom-in">
    <div class="container">
      <div class="top-access-box">
        <p class="top-ttl"><span class="en"></span></p>
        <div class="content-wrapper">
          <div class="iframe-wrapper"><iframe width="600" height="450" style="border: 0;"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125322.50873824842!2d76.967235!3d11.013968899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859af2f971cb5%3A0x2fc1c81e183ed282!2sCoimbatore%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1688209042230!5m2!1sen!2sin"
              frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0"></iframe></div>
          <address class="address-text">Address:7/10, Ukkadam, Ghandipuram
            ,Coimbatore</address>
          <div class="btn-wrapper"><a href="/en/access.html" style="color:#4422ff; font-weight: bolder;"
              class="common-btn fw400">Get Directions</a></div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- ------------------------------------------------------------------------------------------------- -->

    <div class="footer-clean" id="footer-clean">
      <footer>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
              <h3>Centres Of Excellence</h3>
              <ul>
                <li><a href="#">SG Heart Center</a></li>
                <li><a href="#">Neurology</a></li>
                <li><a href="#">Transplanation</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Hospital</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3>Patient Care</h3>
              <ul>
                <li><a href="#">24X7 Emergency Care</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Find A Doctor</a></li>
              </ul>
            </div>
            <div class="col-lg-3 item social"><a href="https://www.facebook.com"><i
                  class="icon ion-social-facebook"></i></a><a href="https://www.twitter.com"><i
                  class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com"><i
                  class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com"><i
                  class="icon ion-social-instagram"></i></a>
              <p class="copyright">SG HOSPITAL © 2018</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
