<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<div class="h1">
  <p>SG HOSPITAL</p>
  <h6>Welcomes You</h6>
</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
<section class="py-5" style="background-image: url(../../assets/bg02.jpg);">
    <div class="container">
      <h1 class="fw-light">Why Choose us ?</h1>
      <p class="lead">We offer compassionate, ethical & state-of-the-art healthcare services and have been trusted by
        millions over the past 49 years.</p>
    </div>
  </section>

<!--------------------------------------------------------------------------------------------------------- -->

  <section class="aboutussec">
    <div class="container">
      <div class="row justify-content-xl-center align-items-xl-center">

        <div class="col col-sm-12 col-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="400"
          data-aos-delay="250">
          <h1>About Us</h1>
          <p class="text-justify">Kanini Hospital, a <em>quaternary</em> care, <em>multispecialty</em> hospital has been
            at
            the <strong>cutting edge of medicine</strong> while staying true to&nbsp;its charitable mission and
            providing <strong>advanced yet affordable</strong> healthcare&nbsp;since 1974.&nbsp; <br>
          </p>
          <div class="row mt-3">
            <div class="col col-sm-6 col-12">
              <h6>Mission</h6>
              <p>Treating patients as our family members, we save lives and reduce suffering by offering compassionate
                tertiary healthcare.
              </p>
            </div>
            <div class="col">
              <h6>Vision</h6>
              <p>To be one of the most affordable and advanced healthcare providers in the country.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <section class="serviceSec pt-4">
    <div class="container">
      <h2 class="text-center">We Specialize In</h2>
      <div class="row mt-5 aos-init aos-animate" data-aos="fade-right">
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="kg-heart-center.html" class="serviceBx">
            <img src="../assets/cardiology-card.svg" alt="cardiology-card">
            <p>KG Heart Centre</p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="neurology.html" class="serviceBx">
            <img src="../assets/Neurology.svg" alt="Neurology">
            <p>Brain &amp; Spine</p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="emergency.html" class="serviceBx">
            <img src="../assets/emergency-help.svg" alt="emergency-help">
            <p> Accident and Emergency </p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="nephrology.html" class="serviceBx">
            <img src="../assets/kidney-liver-transplant-card.svg" alt="kidney-liver-transplant-card">
            <p>Kidney Center</p>
          </a>
        </div>

        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="general-surgery.html" class="serviceBx">
            <img src="../assets/laparoscopic-surgery.svg" alt="laparoscopic-surgery">
            <p>Laparoscopic Surgery</p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="gynecology.html" class="serviceBx">
            <img src="../assets/womens-center.svg" alt="womens-center">
            <p>Obstetrics and gynaecology</p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="diabetes.html" class="serviceBx">
            <img src="../assets/Diabetes.svg" alt="Diabetes">
            <p>diabetology </p>
          </a>
        </div>
        <div class="col col-sm-3 col-12 serviceBxmr">
          <a href="interventional-radiology.html" class="serviceBx">
            <img src="../assets/interventional-radiology.svg" alt="interventional-radiology">
            <p>Interventional Radiology</p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------------------------------------- -->

  
  <!-- -------------------------------------------------------------------------------------------------------->
 