/* ---------------------------------------------------------------------------------------------------- */
.h1 img {
  border-radius: 10px;
  padding-bottom: 60px;
}

.h1 p,
h6 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: #001e6c;
  background-image: url('../../assets/show/s1.jpg');
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ---------------------------------------------------------------------------------------------------- */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.text-overlay h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.text-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.text-overlay h1,
.text-overlay p {
  position: relative;
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
}

.text-overlay p {
  font-size: 1.5rem;
  font-weight: 300;
}


/* -------------------------------------------------------------------------------------------------- */
.py-5 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2b2b2b;
  text-shadow: #fff;
}

/* ---------------------------------------------------------------------------------------------------- */
.aboutussec {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
  background-image: url(../../assets/show/slide02.jpg);
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.serviceSec {
  background: #e7e7e7;
  padding-top: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.serviceBx img {
  width: 80px;
}

img {
  vertical-align: middle;
  border-style: none;
}

img {
  max-width: 100%;
}

.serviceBx p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #212529;
  margin-top: 10px;
  padding-top: 5px;
}

.serviceBx:before,
.serviceBx:after {
  position: absolute;
  height: 200px;
  width: 200px;
  right: -100px;
  top: -100px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 9;
  transform: scale(0);
  content: "";
  transition: all 600ms ease;
}

.slick-slider {
  position: relative;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

.serviceBx {
  color: black;
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 4px 2px #d7d7d7;
  width: 100%;
  margin: auto;
  padding: 14px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

/* ------------------------------------------------------------------------------------------------------ */
.sec07 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}

* {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0;
}

.top-access-box {
  background: rgba(255, 255, 255, 0.92);
  padding: 40px 40px 50px;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
form,
p {
  text-align: inherit;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1020px;
}

/* -------------------------------------------------------------------------------------------------- */
.image-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.image-container {
  flex: 1;
  margin-right: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-content {
  flex: 1;
  text-align: left;
}

.text-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1.2rem;
}

.image-section button {
  border-radius: 8px;
  color: white;
  background-color: #001e6c;
  border-color: #001e6c;
  font-size: xx-large;
}

/* ------------------------------------------------------------------------------------------- */

/* Footer */
.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social>a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social>a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}