<table class="table">
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th>Approve</th>
      <th>Decline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of DDoctors">
      <td>{{doctor.name}}</td>
      <td>{{doctor.userName}}</td>
      <td>{{doctor.roles}}</td>
      <td>{{doctor.email}}</td>
      <td><button (click)="Add(doctor)">Approve</button></td>
      <td><button style="background-color: red;color: white;" (click)="Deny(doctor)">Revoke</button></td>
    </tr>
  </tbody>
</table>

